doctype html
html(lang='en')
  head
    title Hello World
    link(href='./images/favicon.png' rel='icon' type='image/png')
    link(href='./scss/styles.scss' rel='stylesheet')
    block css
  body
    block content
    script(src='./js/main.js' defer='defer')
    block js
